.cv {
  margin-top: 22px;
  text-align: justify;
}

@media (min-width: 768px) {
  body {
    background-color: lightgray;
  }

  .cv {
    margin-top: 55px;
    margin-bottom: 55px;
    border-radius: 5px;
    background-color: white;
    padding: 8% 10%;
  }
}
