{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
	  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>RemoteRetail</title>
  </head>
  <body>

  <div class='container'>
    <div class="row align-items-start justify-content-between">
      <div class="col-4"><h1>Hello, {{ patron.nickname }}.</h1></div>
      <div class="col-4"><p>Email: {{ patron.email }}</p></div>
      <div class="col-4 text-right"><p>Your balance: {{ wallet.balance }}</p></div>
    </div>

    <div class="row align-items-center">
      <div class="col-6 text-center" id="purchasesButton">Purchases</div>
      <div class="col-6 text-center" id="salesButton">Sales</div>
    </div>
    
    <div class="row align-items-end">
      <div id="purchases">
        <table>
          <tr><th>ID</th><th>Good</th><th>Seller</th><th>Buyer</th><th>Price</th><th>Time</th></tr>
          {% for purchase in purchases %}
          <tr><td>{{ purchase.pk }}</td><td>{{ purchase.name }}</td><td>{{ purchase.seller.nickname }}</td><td>{{ purchase.buyer.nickname }}</td><td>{{ purchase.price }}</td><td>{{ purchase.created }}</td></tr>
          {% endfor %}
        </table>
      </div>

      <!--<div id="sales">
        <form method='POST'>
          {% csrf_token %} {{ salesForm }} <br>
          <input class="button" type="submit" value="Add item">
        </form><br>
        <table>
          <tr><th>ID</th><th>Good</th><th>Buyer</th><th>Price</th><th>Time</th></tr>
          {% for sale in sales %}
          <tr><td>{{ purchase.pk }}</td><td>{{ purchase }}</td><td>{{ purchase.buyer.name }}</td><td>{{ purchase.price }}</td><td>{{ purchase.created }}</td></tr>
          {% endfor %}
        </table>
      </div>-->
    </div>
    {{ message }}
  </div>
    <!-- Optional JavaScript 
    <script src="{% static 'js/script.js' %}"></script>-->
    <script>
      purchasesButton.onclick = function() {
        purchases.style.visibility = "visible";
        sales.style.visibility = "hidden";
      }
      salesButton.onclick = function() {
        purchases.style.visibility = "hidden";
        sales.style.visibility = "visible";
      }
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>