{% extends 'purchasetap/base.html' %}

{% block content %}
  <h1>Welcome to PurchaseTap</h1>
  <h3>Hello {{username | title}}!</h3>

  <div class="container" id="tap">
    <form method="post">
      {% for product in products %}
        <button value={{ product.name }}>{{ product.name }} for {{ product.price }}</button>
      {% endfor %}
    </form>
  </div>


  {% csrf_token %}
  <script type="text/javascript">
  // using jQuery
  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });
  </script>

  <script>
    $(document).ready(function() {
      $("button").click(function(e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/tap/ajax/count/",
            data: {
                product: $(this).val(), // < note use of 'this' here
                something: "abcd",
            },
            dataType: 'json',
            success: function (data) {
              alert("SOLD");
              console.log('Sold');
              if (data.is_taken) {
                alert("A user with this username already exists.");
              }
            },
            error: function(result) {
                alert('error');
            }
        });
      });
    });
  </script>


  <div class="login container">
    <form action="logout" method="post">
      {% csrf_token %}
      <input class="loginbutton" type="submit" value="Log Out">
    </form>
  </div>

<div class="container">
  {% load tz %}
  <p>
    <table class='table' style="margin-bottom:50px;">
        <tr>
            <th>Product</th>
            <th>Seller</th>
            <th>Time</th>
        </tr>
        {% for item in purchases %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.seller }}</td>
            <td>{{ item.created }}</td>
        </tr>
        {% endfor %}
    </table>

    <table class='table times'>
      <tr>
        <th>Location</th>
        <th>Time</th>
      </tr>
      {% timezone "Europe/London" %}
      <tr>
        <td>London</td>
        <td>{{ time }}</td>
      </tr>
      {% endtimezone %}
      {% timezone None %}
      <tr>
        <td>Kyiv</td>
        <td>{{ time }}</td>
      </tr>
      {% endtimezone %}
    </table>
    Server time is Kyiv time.

  </p>
</div>



{% endblock %}
