body {
	font-family: "Montserrat", "Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
  font-size: 16px;
	color: #c5c6c7;
	background-color: #1f2833;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 33px;
  color: #66fcf1;
  margin-bottom: 15px;
	font-weight: 100;
}

h3 {
	font-size: 15px;
  text-transform: uppercase;
	font-weight: bold;
	color: gray;
	margin-bottom: 7px;
}

h1 {
	margin-bottom: 22px;
}

p {
  margin-bottom: 15px;
}

.login form {
	text-align: center;
}
.login input {
	margin: auto;
	margin-bottom: 22px;
	display: block;
}
.login input.loginbutton {
  background-color: #1f2833;
  color: #c5c6c7;
  border: 2px solid #45a29e;
	display: block;
	margin-top: 33px;
	padding: 12px 18px;
}
.login input.loginbutton:hover {
  background-color: #0b0c10;
}

#products {
	margin-bottom: 22px;
}

#tap {
	margin-top: 44px;
}
#tap button {
	display: inline-block;
	background-color: darkgray;
  color: black;
  border: 2px solid cyan; /* Green */
	padding: 10px 24px;
	margin-bottom: 12px;
	margin-right: 8px;

}
#tap button:hover {
  background-color: cyan; /* Green */
  color: orange;
}

table {
	margin-bottom: 55px;
}
